
* {
  margin: 0;
  padding: 0;
  font-family: 'Spartan', sans-serif;
  border: none;
}

body {
  box-sizing: border-box;
  font-size: 1rem;
  color: white;
  line-height: 1.4;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background: #108dc7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

.container {

  width: 100%;
  margin: 3.125rem auto 0 auto;
}

@media (min-width: 375px) {
  .container {
    max-width: 345px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

header {
  padding: 1em;
}

.text {
  text-align: center;
  font-weight: 900;
}

.description {
  text-align: center;
}

form {
  background: rgba(16,141,199,0.3);
  padding: 2em;
  border-radius: 5px;
  font-size: 0.8em;
}

.form-control { /*Input-text*/
  display: block;
  width: 100%;
}

.form-group {
  margin-bottom: 10px;
  margin-top: 5px;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-left: 
}

.submit-button {
  width: 100%;
}

label {
  display: flex;
  align-items: center;
}

textarea {
  width: 100%;
}
